torch
torchvision
triton
tensorboard
scipy
scikit-learn
timm
pandas
easydict
gpytorch
h5py
huggingface-hub
hydra-core
ninja
numexpr
openpyxl
parameterized
submitit
# tensorboard-logger
tokenizers
transformers
# git+https://github.com/EFS-OpenSource/calibration-framework.git
# git+https://github.com/nschloe/tikzplotlib.git
matplotlib
